<!DOCTYPE html>

<html lang="en">
  <head>
    <base href="./" />
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, shrink-to-fit=no"
    />
    <meta name="description" content="Login Phoenix Admin" />
    <meta name="author" content="VirKill" />
    <title>Login - Phoenix Admin</title>

    <link
      href="/dist/vendors/simple-line-icons/css/simple-line-icons.css"
      rel="stylesheet"
    />
    <!-- Main styles for this application-->
    <link href="/dist/css/style.css" rel="stylesheet" />
  </head>

  <body class="app flex-row align-items-center">
    <div class="container">
      <%= render @view_module, @view_template, assigns %>
    </div>
    <!-- CoreUI and necessary plugins-->
    <script src="/dist/vendors/jquery/js/jquery.min.js"></script>
    <script src="/dist/vendors/bootstrap/js/bootstrap.min.js"></script>
    <script src="/dist/vendors/@coreui/coreui/js/coreui.min.js"></script>
  </body>
</html>
